PORT=your_value_here
NODE_ENV=your_value_here
FRONTEND_URL=your_value_here

FOODDATA_API_KEY=your_value_here
FOODDATA_BASE_URL=your_value_here

OPENFDA_API_KEY=your_value_here
OPENFDA_BASE_URL=your_value_here

NUTRITIONIX_APP_ID=your_value_here
NUTRITIONIX_API_KEY=your_value_here
NUTRITIONIX_BASE_URL=your_value_here

INFERMEDICA_APP_ID=your_value_here
INFERMEDICA_API_KEY=your_value_here
INFERMEDICA_BASE_URL=your_value_here

NPPES_BASE_URL=your_value_here
OPEN_DISEASE_BASE_URL=your_value_here
HEALTHCARE_GOV_BASE_URL=your_value_here